<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="header">
  <div class="container">
    <!--Nav Logo-->
    <a href="/" class="logo" aria-label="back to home">
      <img
        src="/assets/svgs/logo-rgb.svg"
        alt="logo"
        width="216"
        height="41"
        aria-hidden="true"
        decoding="async"
      />
    </a>
    <!--Navigation List-->
    <nav class="nav-bar" role="navigation">
      <input type="checkbox" id="menu-toggle" hidden />
      <label
        for="menu-toggle"
        class="fries-btn"
        aria-label="mobile menu toggle"
      >
        <span class="fries" aria-hidden="true"></span>
        <span class="fries" aria-hidden="true"></span>
        <span class="fries" aria-hidden="true"></span>
      </label>
      <ul id="nav-menu" aria-expanded="false">
        {% set navPages = collections.all | eleventyNavigation %} {# Loop
        through all pages with a eleventyNavigation in the frontmatter #} {% for
        entry in navPages %} {# Define a hasChild variable to make it easier to
        test what links are dropdowns#} {% set hasChild = entry.children.length
        %} {# If this page is a dropdown, give it the appropriate classes, icons
        and accessibility attributes#}
        <li
          class="nav-item {% if hasChild %} nav-dropdown {% endif %}"
          {%
          if
          hasChild
          %}
          tabindex="0"
          {%
          endif
          %}
        >
          {# Similarly, if the link is active, apply the necessary classes #}
          <a
            href="{{ entry.url }}"
            class="cs-li-link {% if entry.url == page.url %} cs-active {% endif %}"
          >
            {{ entry.key }} {% if hasChild %}
            <img
              class="expand-icon"
              src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg"
              alt="dropdown icon"
              width="15"
              height="15"
              decoding="async"
              aria-hidden="true"
            />
            {% endif %}
          </a>

          {# Dropdowns have another ul/li set up within the parent li. Render in
          the same way as a normal link #} {% if hasChild %}
          <ul>
            {% for child in entry.children %}
            <li class="nav-item">
              <a href="{{ child.url }}">{{ child.key }}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
      <a href="/contact" id="nav-contact" class="btn-solid">Contact Us</a>
      <!--Mobile Nav Toggle-->
      <!-- Hidden checkbox to control menu state -->

      <div class="mobile-nav-overlay"></div>
    </nav>
  </div>
</header>
