---
title: "About Us"
description: "Meta description for the page"
preloadImg: ""
permalink: "about/"
eleventyNavigation:
  key: About Us
  order: 2
---

{% extends "layouts/base.html" %} {% block head %} {% endblock %} {% block body
%} {% include "utilities/loadStyles.html" %}

<!-- ============================================ -->
<!--                    Landing                   -->
<!-- ============================================ -->

<section id="about">
  <div class="container">
    <picture>
      <source media="(max-width: 600px)" srcset="" />
      <source media="(min-width: 601px)" srcset="" />
      <img
        aria-hidden="true"
        decoding="async"
        src=""
        alt="kitchen cabinets"
        loading="eager"
        width="2500"
        height="1667"
      />
    </picture>
    <div class="flex-group">
      <p class="topper">About Pixelboost</p>
      <h1 class="title">Reimagining Web Design for Small Businesses</h1>
      <p>
        Hey, my name is Josh D, and I started pixelboost with a clear mission:
        to change the game for small businesses seeking high-quality web design.
      </p>
      <p>
        I’m not only committed to making services affordable, but also to
        building lasting partnerships where quality is assured. You deserve a
        website that’s swift, seamless, and a true extension of your brand,
        without the strain on your resources.
      </p>
      <p>
        Let’s navigate the web design journey together, with transparent pricing
        and a commitment to excellence that puts your business first.
      </p>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="why-choose-us">
  <div class="container">
    <div class="flex-group">
      <p class="topper">Why choose us?</p>
      <h2 class="title">What makes us unique</h2>
      <div class="flex-group">
        <div class="card">
          <img
            loading="lazy"
            decoding="async"
            src=""
            alt=""
            width="80"
            height="80"
          />
          <h3>Content tailored for your brand</h3>
          <p>
            Crafting bespoke narratives that celebrate your brand's
            individuality. Your business's story is distinct—let's tell it in a
            way that captivates and connects.
          </p>
        </div>
        <div class="card">
          <img
            loading="lazy"
            decoding="async"
            src=""
            alt=""
            width="80"
            height="80"
          />
          <h3>Personalized support, directly from the source</h3>
          <p>
            Experience the warmth of human connection in customer service. Have
            a question or need a hand? I'm here, ready to assist—not an
            automated response, but the person who knows your project inside
            out.
          </p>
        </div>
        <div class="card">
          <img
            loading="lazy"
            decoding="async"
            src=""
            alt=""
            width="80"
            height="80"
          />
          <h3>Design which echo your vision</h3>
          <p>
            Your vision is our blueprint. We bring flexibility to design,
            ensuring every element is a reflection of your brand's personality
            and ambition. Customization without constraints, for a digital space
            that's unequivocally yours.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                 What else?                   -->
<!-- ============================================ -->

<section id="what-else">
  <div class="container">
    <div class="flex-group">
      <p class="topper">What else do you do?</p>
      <h2 class="title">Our capabilities</h2>
      <div class="flex-group">
        <button>Web Development</button>
        <button>Web Design</button>
        <button>Search Engine Optimization</button>
        <button>Branding</button>
        <button>Print Design</button>
      </div>
    </div>
  </div>
</section>

{% include "components/cta.html" %} {% endblock %}
