---
title: "Case Studies"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "case-studies/"
eleventyNavigation:
  key: Case Studies
  order: 5
---

{% extends "layouts/base.html" %} {% block head %} {% endblock %} {% block body
%}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="intro">
  <div class="container">
    <div class="flex-group-col">
      <div class="flex-text fade-in">
        <p class="topper">About Pixelboost</p>
        <h1 class="title">Reimagining Web Design for Small Businesses</h1>
      </div>
      <p class="fade-in">
        Hello there! My name is Josh, and I started Pixelboost with a clear
        mission: to change the game for small businesses seeking high-quality
        web design.
      </p>
      <p class="fade-in">
        I’m not only committed to making services affordable, but also to
        building lasting partnerships where quality is assured. You deserve a
        website that’s swift, seamless, and a true extension of your brand,
        without the strain on your resources.
      </p>
      <p class="fade-in">
        Let’s navigate the web design journey together, with transparent pricing
        and a commitment to excellence that puts your business first.
      </p>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery">
  <div class="cs-container">
    <div class="cs-image-group">
      <!-- Row 1-->
      <div class="cs-row cs-row-1">
        <picture class="cs-picture cs-picture1">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port1-m.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port1.jpg"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port1.jpg"
            alt="new hallway"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture2">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port4-m.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port4.jpg"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port4.jpg"
            alt="new home construction"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture3">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port7-m.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port7.jpg"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port7.jpg"
            alt="building a new wall"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
      </div>
      <!-- Row 2 -->
      <div class="cs-row cs-row-2">
        <picture class="cs-picture cs-picture1">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port2-m.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port2.jpg"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port2.jpg"
            alt="new kitchen"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture2">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port5-m.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port5.jpg"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port5.jpg"
            alt="apartment addition"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture3">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port8-m.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port8.jpg"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port8.jpg"
            alt="kew kitchen cabinets"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
      </div>
      <!-- Row 3 -->
      <div class="cs-row cs-row-3">
        <picture class="cs-picture cs-picture1">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port3-m.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port3.jpg"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port3.jpg"
            alt="new kitchen"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture2">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port6-m.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port6.jpg"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port6.jpg"
            alt="apartment addition"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>
        <picture class="cs-picture cs-picture3">
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/portfolio/port9-m.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/portfolio/port9.jpg"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/assets/images/portfolio/port9.jpg"
            alt="kew kitchen cabinets"
            loading="lazy"
            width="400"
            height="560"
          />
        </picture>

        <!-- To add more images, copy and paste this row's picture tags here in order from cs-picture-1 to cs-picture-3 and they will maintain the same layout-->
      </div>
    </div>
    <a href="/contact" class="cs-button-solid">Get Free Quote</a>
  </div>
</section>

{% include 'components/cta.html' %} {% endblock %}
