---
title: "Contact"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "contact/"
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="" />
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="contact">
  <div class="container">
    <div class="flex-group">
      <p class="topper">Contact Us</p>
      <h1 class="title">Let us work together</h1>
      <p>
        Whether you're an established brand or are just starting out, we'd love
        to hear from you and learn about your business.
      </p>
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                Get in Touch                  -->
<!-- ============================================ -->

<section id="get-in-touch">
  <div class="container">
    <form
      id="contact-form"
      name="Contact Form"
      method="post"
      data-netlify="true"
    >
      <p class="topper">Tell us about your project</p>
      <h2 class="title">Get in Touch</h2>
      <label>
        Full Name
        <input
          required
          type="text"
          id="name"
          name="name"
          placeholder="John Doe"
        />
      </label>
      <label>
        Company Name
        <input
          type="text"
          id="company-name"
          name="company-name"
          placeholder="Microsoft"
        />
      </label>
      <label>
        Email
        <input
          required
          type="text"
          id="email"
          name="email"
          placeholder="jdoe@gmail.com"
        />
      </label>
      <label>
        How Did You Find Us
        <input
          type="text"
          id="find"
          name="find-us"
          placeholder="How did you find us?"
        />
      </label>
      <label class="project-description">
        Project Description
        <textarea
          required
          name="description"
          id="description"
          placeholder="Tell us about your project..."
        ></textarea>
      </label>
      <button class="button-solid" type="submit">Send your inquiry</button>
    </form>
    <p>or, if you prefer to contact me directly:</p>
    <p>
      <b>email: </b>
      <a href="mailto:{{client.email}}">{{client.email}}</a>
    </p>
    <p>
      <b>phone: </b>
      <a href="tel:{{client.phoneForTel}}">{{client.phoneFormatted}}</a>
    </p>
  </div>
</section>
{% endblock %}
