/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/
// Base/root style sheet
@use "vars" as v;

// Text styles
h1 {
  font-size: v.$fs-xxl;
}

h2 {
  font-size: v.$fs-xl;
}

h3 {
  font-size: v.$fs-l;
}

h4 {
  font-size: v.$fs-m;
}

h5 {
  font-size: v.$fs-s;
}

h1,
h2,
h3,
h4,
h5 {
  @include v.header-style;
  line-height: v.$line-height;
}

p,
ul,
label,
input {
  font-size: v.$fs-base;
}

a {
  text-decoration: none;
}

a:not([class*="btn"]) {
  @include v.link-style(v.$brand-secondary);
  transition: v.$transition-default;
}

.fade-in {
  @include v.fade-in;
  will-change: transform, opacity;
}

.slide-out {
  transform: translateY(-200vh);
  will-change: transform;
}

.topper {
  font-size: v.$fs-xs;
  font-weight: v.$bold-weight;
  line-height: v.$line-height-small;
  text-transform: uppercase;
  letter-spacing: v.$letter-spacing-wide;
  color: v.$brand-secondary;
  display: block;
}

.flex-group-col {
  @include v.flex-group-col;
  flex: 1;
}

.flex-group-row {
  @include v.flex-group-row;
}

.grid-group {
  @include v.grid-group;
}

.flex-text {
  @include v.flex-group-col;
  gap: v.$spacing-small;
}

.btn-solid {
  @include v.btn-solid;
}

.btn-line {
  @include v.btn-line;
}

.btn-blue {
  @include v.btn-blue;
}

/* Fonts and general styles */

// /* inter-tight-regular - latin */
// @font-face {
//     font-display: swap;
//     font-family: 'Inter Tight';
//     font-style: normal;
//     font-weight: 400;
//     src: local(""),
//         url('/assets/fonts/inter-tight-v7-latin-regular.woff2') format('woff2'),
//         /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
//         url('/assets/fonts/inter-tight-v7-latin-regular.woff') format('woff')
//         /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
//     ;
// }

/* inter-tight-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("/assets/fonts/inter-tight-v7-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("/assets/fonts/inter-tight-v7-latin-700.woff") format("woff")
      /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */;
}

/* inter-tight-900 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 900;
  src: local(""),
    url("/assets/fonts/inter-tight-v7-latin-900.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("/assets/fonts/inter-tight-v7-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("/assets/fonts/open-sans-v36-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("/assets/fonts/open-sans-v36-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("/assets/fonts/open-sans-v36-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("/assets/fonts/open-sans-v36-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  scroll-behavior: smooth;
}

body,
html {
  @include v.body-style;
  margin: 0;
  padding: 0;
  color: v.$dark;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  background-color: v.$dark;
  flex-grow: 1;
}

body:has(#menu-toggle:checked) {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
}

*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove tap highlight color */
a,
button,
input,
textarea {
  -webkit-tap-highlight-color: transparent;
}

section {
  border: 1px solid v.$dark;
  padding: v.$spacing-semi-large v.$spacing-semi-small;
  @include v.container-query(medium) {
    padding: v.$spacing-large v.$spacing-medium;
  }
}

.container {
  max-width: v.$content-width;
  container-type: inline-size;
  position: relative;
  z-index: 1;
  width: 92%;
  margin: auto;
  @include v.flex-group-row;
}

// Hidden Screen reader skip nav btn
.skip {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}

picture {
  flex: 1;

  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: v.$border-radius-medium;
  }
}

#cta {
  background-color: v.$acc-mint;

  .flex-group-col {
    align-items: flex-start;

    .flex-text {
      align-items: flex-start;
      .title {
        font-size: v.$fs-xxxxl;
      }
    }
  }
}

#footer {
  background-color: v.$dark;
  color: v.$light;

  .flex-group-col {
    container-type: inline-size;

    a {
      @include v.link-style(v.$light);
    }

    .container {
      padding: calc(v.$spacing-large - 0.5rem);
      justify-content: space-between;
      flex-direction: column;

      .left-section {
        width: 100%;
        flex: 1.5;

        .logo {
          display: contents;
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }

      .right-section {
        display: flex;
        flex-direction: column;
        grid-template-columns: 2fr 1fr;
        flex: 2;
        gap: v.$spacing-large;
        justify-content: flex-end;

        h5 {
          margin-bottom: v.$spacing-small;
        }

        ul {
          list-style: none;
          li {
            &:first-child {
              margin-bottom: v.$spacing-xsmall;
            }
          }
        }
      }

      @include v.container-query(x-small) {
        .right-section {
          display: grid;
          font-size: 0.9375rem;
        }
      }

      @include v.container-query(small) {
        .left-section {
          width: 70%;
        }

        .right-section {
          display: flex;
          flex-direction: row;
          font-size: 1rem;
        }
      }

      @include v.container-query(large) {
        flex-direction: row;

        .left-section {
          margin-right: 1rem;
        }
      }
    }

    .credit {
      width: 100%;
      border-top: 1px solid v.$light;
      font-size: 0.875rem;
      @include v.flex-group-row;
      justify-content: center;
      gap: v.$spacing-small;
      padding: v.$spacing-small;
      text-align: center;

      @include v.container-query(small) {
        font-size: v.$fs-base;
      }
    }
  }
}
