/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/
// Base/root style sheet
@use "vars.scss";

// Text styles
h1 {
  font-size: vars.$h1-font-size;
}

h2 {
  font-size: vars.$h2-font-size;
}

h3 {
  font-size: vars.$h3-font-size;
}

h4 {
  font-size: vars.$h4-font-size;
}

h5 {
  font-size: vars.$h5-font-size;
}

h1,
h2,
h3,
h4,
h5 {
  @include vars.header-style;
}

a {
  text-decoration: none;
}

a:not([class*="btn"]) {
  @include vars.link-style(vars.$brand-secondary);
  transition: vars.$transition-default;
}

.topper {
  font-size: vars.$topper-font-size;
  font-weight: vars.$bold-weight;
  line-height: vars.$line-height-small;
  text-transform: uppercase;
  letter-spacing: vars.$letter-spacing-wide;
  color: vars.$brand-secondary;
  display: block;
}

.flex-group-col {
  @include vars.flex-group-col;
  flex: 1;
}

.flex-group-row {
  @include vars.flex-group-row;
}

.grid-group {
  @include vars.grid-group;
}

.btn-solid {
  @include vars.btn-solid;
}

.btn-line {
  @include vars.btn-line;
}

.btn-yellow {
  @include vars.btn-yellow;
}

/* Fonts and general styles */

// /* inter-tight-regular - latin */
// @font-face {
//     font-display: swap;
//     font-family: 'Inter Tight';
//     font-style: normal;
//     font-weight: 400;
//     src: local(""),
//         url('/assets/fonts/inter-tight-v7-latin-regular.woff2') format('woff2'),
//         /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
//         url('/assets/fonts/inter-tight-v7-latin-regular.woff') format('woff')
//         /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
//     ;
// }

/* inter-tight-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("/assets/fonts/inter-tight-v7-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("/assets/fonts/inter-tight-v7-latin-700.woff") format("woff")
      /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */;
}

/* inter-tight-900 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 900;
  src: local(""),
    url("/assets/fonts/inter-tight-v7-latin-900.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("/assets/fonts/inter-tight-v7-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("/assets/fonts/open-sans-v36-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("/assets/fonts/open-sans-v36-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("/assets/fonts/open-sans-v36-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("/assets/fonts/open-sans-v36-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body,
html {
  @include vars.body-style;
  margin: 0;
  padding: 0;
  color: vars.$dark;
  overflow-x: hidden;
}

body:has(#menu-toggle:checked) {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
}

*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

#header,
section {
  border: 1px solid vars.$dark;
  padding: vars.$spacing-large vars.$spacing-medium;
}

.container {
  max-width: vars.$content-width;
  container-type: inline-size;
  position: relative;
  z-index: 1;
  width: 92%;
  margin: auto;
  @include vars.flex-group-row;
}

// Hidden Screen reader skip nav btn
.skip {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -999;
}

picture {
  flex: 1;

  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    top: 0;
    left: 0;
    border-radius: vars.$border-radius-medium;
  }
}

#cta {
  background-color: vars.$acc-mint;

  .flex-group-col {
    align-items: flex-start;

    .title {
      font-size: vars.$extra-spicy-font-size;
    }
  }
}

#footer {
  background-color: vars.$dark;
  color: vars.$light;

  .flex-group-col {
    container-type: inline-size;

    a {
      @include vars.link-style(vars.$light);
    }

    .container {
      padding: calc(vars.$spacing-large - 0.5rem);
      justify-content: space-between;
      flex-direction: column;

      .left-section {
        width: 100%;
        flex: 1.5;

        .logo {
          display: contents;
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }

      .right-section {
        display: flex;
        flex-direction: column;
        grid-template-columns: 2fr 1fr;
        flex: 2;
        gap: vars.$spacing-large;
        justify-content: flex-end;

        h5 {
          margin-bottom: vars.$spacing-small;
        }

        ul li {
          &:first-child {
            list-style: none;
            margin-bottom: vars.$spacing-very-small;
          }
        }
      }

      @include vars.container-query(x-small) {
        .right-section {
          display: grid;
          font-size: 0.9375rem;
        }
      }

      @include vars.container-query(small) {
        .left-section {
          width: 70%;
        }

        .right-section {
          display: flex;
          flex-direction: row;
          font-size: 1rem;
        }
      }

      @include vars.container-query(large) {
        flex-direction: row;

        .left-section {
          margin-right: 1rem;
        }
      }
    }

    .credit {
      width: 100%;
      border-top: 1px solid vars.$light;
      font-size: 0.875rem;
      @include vars.flex-group-row;
      justify-content: center;
      gap: vars.$spacing-small;
      padding: vars.$spacing-small;
      text-align: center;

      @include vars.container-query(small) {
        font-size: vars.$body-font-size;
      }
    }
  }
}
