/*-- -------------------------- -->
<---       SCSS Variables       -->
<--- -------------------------- -*/
// SCSS variables/mixins/functions
$brand-primary: #f26722;
$brand-secondary: #051f3b;
$acc-yellow: #fec010;
$acc-lightblue: #b9e5fb;
$acc-cream: #fff4e4;
$acc-pink: #fbb9b9;
$acc-mint: #8efab4;
$acc-purple: #e2bdff;
$dark: #000;
$light: #fff;

$fs-xxxxl: clamp(4rem, 10vw, 8rem); // 64-128px
$fs-xxxl: clamp(3.75rem, 6vw, 4.5rem); // 60-72px
$fs-xxl: clamp(3rem, 5vw, 3.75rem); // 48-60px
$fs-xl: clamp(2.5rem, 4vw, 3rem); // 40-48px
$fs-l: clamp(1.875rem, 3vw, 2.5rem); // 30-40px
$fs-m: clamp(1.5rem, 2vw, 1.875rem); // 20-30px
$fs-s: clamp(1.125rem, 1.5vw, 1.5rem); // 18-24px
$fs-base: clamp(1rem, 1.25vw, 1.125rem); // 16-18px
$fs-xs: clamp(0.875rem, 1.25vw, 1rem); // 14-16px

$line-height: calc(4px + 2ex + 4px);

/* 60px - 100px top and bottom */
$container-padding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;

// Headings font
$header-font: "Inter Tight", "Arial", sans-serif;
// Body font
$body-font: "Open Sans", "Arial", sans-serif;

// Font adjustments
$line-height-small: 1.2;
$line-height-normal: 1.6;
$letter-spacing-wide: 0.05em;

// Font weights
$regular-weight: 400;
$bold-weight: 700;
$black-weight: 900;

// Breakpoints
$mobile: 0em;
$tablet: 48em;
$sm-desktop: 64em;

// Content width
$content-width: 80em;

// Spacing
$spacing-xsmall: 0.25rem;
$spacing-small: 0.5rem;
$spacing-semi-small: 0.75rem;
$spacing-medium: 1rem;
$spacing-semi-medium: 1.25rem;
$spacing-semi-large: 1.5rem;
$spacing-large: 2rem;

// Border radius
$border-radius-small: 0.25rem;
$border-radius-medium: 0.5rem;
$border-radius-large: 0.75rem;

// Border values
$border-dark: 2px solid $dark;

// Transition
$transition-default: all 0.12s ease-in-out;

// Mixins for container responsive design
// Define a map of breakpoints
$breakpoints: (
  x-small: 16rem,
  small: 32rem,
  medium: 48rem,
  large: 64rem,
  max: 76rem,
  //max-content width minus padding (1216px)
);

// Animations
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// Mixin for container query
@mixin container-query($size) {
  $query: map-get($breakpoints, $size);

  @if $query {
    @container (min-width: #{$query}) {
      @content;
    }
  } @else {
    @container (min-width: #{$size}) {
      @content;
    }
  }
}

@mixin transition-fast($property) {
  transition: $property 0.12s ease-in-out;
}
@mixin transition-slow($property) {
  transition: $property 0.3s ease;
}

// _mixins.scss
@mixin fade-in() {
  opacity: 0;
  transform: translateY(2rem);
  &.visible {
    animation: fadeIn 1s ease forwards;
  }
}

@mixin header-style {
  font-family: $header-font;
  line-height: $line-height-small;
  font-weight: $black-weight;
}

@mixin body-style {
  font-family: $body-font;
  line-height: $line-height-normal;
}

@mixin border-style($colour) {
  border: 2px solid $colour;
}

@mixin focus-style($colour) {
  outline: 3px solid $colour;
  outline-offset: 6px;
}

@mixin link-style($colour) {
  color: $colour;

  &:hover {
    color: $brand-primary;
  }
}

// Flexbox
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-group-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $spacing-large;
}

@mixin flex-group-col {
  @include flex-group-row;
  flex-direction: column;
}

// Grid
@mixin grid-group {
  display: grid;
  gap: $spacing-medium;
}

// btn styles
@mixin drop-shadow {
  box-shadow: 0.25rem 0.25rem 0 0 $dark;
}

@mixin btn-press-effect($colour) {
  transform: scale(0.95);
  background-color: darken($colour, 5%);
}

@mixin btn-base {
  @include header-style;
  font-size: $fs-s;
  font-weight: $bold-weight;
  padding: $spacing-medium $spacing-semi-large;
  border-radius: $border-radius-medium;
  transition: $transition-default;

  &:hover {
    @include drop-shadow;
    cursor: pointer;
  }
}

@mixin btn-solid {
  @include btn-base;
  color: $light;
  background-color: $dark;
  @include border-style($dark);

  &:active {
    @include btn-press-effect($dark);
  }

  &:hover {
    @include border-style($light);
  }

  &:focus-visible {
    @include focus-style($dark);
  }
}

@mixin btn-line {
  @include btn-base;
  color: $dark;
  background-color: transparent;
  @include border-style($dark);

  &:active {
    @include btn-press-effect(transparent);
  }

  &:hover {
    @include border-style($dark);
  }

  &:focus-visible {
    @include focus-style($dark);
  }
}

@mixin btn-blue {
  @include btn-base;
  color: $light;
  background-color: $brand-secondary;
  @include border-style($dark);

  &:active {
    @include btn-press-effect($acc-yellow);
  }

  &:hover {
    @include border-style($dark);
  }

  &:focus-visible {
    @include focus-style($dark);
  }
}
