/*-- -------------------------- -->
<---          About us          -->
<--- -------------------------- -*/
@use "vars" as v;

#about {
  background-color: v.$acc-yellow;
  .flex-group-row {
    flex-direction: column;
    @include v.container-query(medium) {
      flex-direction: row;
    }
    picture {
      max-width: 400px;
      width: 70%;
      align-self: flex-start;
    }
    .flex-group-col {
      align-items: flex-start;
    }
  }
  .topper {
    align-self: flex-start;
  }
  img {
    @include v.border-style(v.$dark);
    max-width: 400px;
    max-height: 400px;
  }
}

#why-choose-us {
  background-color: v.$acc-pink;
  .flex-group-row {
    flex-direction: column;
    align-items: stretch;
    @include v.container-query(medium) {
      flex-direction: row;
    }
    .card {
      @include v.flex-group-col;
      justify-content: flex-start;
      background-color: rgba(v.$light, 1);
      @include v.border-style(v.$dark);
      transition: all 0.3s ease;
      border-radius: v.$border-radius-medium;
      padding: v.$spacing-medium;
      flex: 1;
      h3 {
        align-self: flex-start;
      }
      img {
        width: 80px;
        height: 80px;
      }
      @include v.container-query(medium) {
        h3 {
          align-items: center;
        }
      }

      &:hover {
        transform: translateY(-1rem);
      }
    }
  }
}

#what-else {
  background-color: v.$acc-purple;
  .flex-group-col {
    align-items: flex-start;
    .topper,
    .title {
      align-self: flex-start;
    }
    .flex-group-wrap {
      display: flex;
      flex-wrap: wrap;
      gap: v.$spacing-medium;
      @include v.container-query(medium) {
        gap: v.$spacing-large;
      }
      & > * {
        @include v.btn-line;
        font-size: v.$fs-l;
        @include v.transition-fast(transform);
        @include v.container-query(medium) {
          font-size: v.$fs-xl;
        }
        &:hover {
          cursor: default;
          transform: scale(1.05);
        }
      }
    }
  }
}
