/*-- -------------------------- -->
<---        Contact us          -->
<--- -------------------------- -*/
@use "vars" as v;

// Contact styles

#contact {
  background-color: v.$acc-yellow;
  .flex-group-col {
    align-items: flex-start;
    .flex-text {
      align-items: flex-start;
    }
  }
}

#get-in-touch {
  background-color: v.$acc-cream;

  .flex-group-col {
    align-items: flex-start;

    .flex-text {
      align-items: flex-start;
    }

    #contact-form {
      @include v.flex-group-col;
      @include v.border-style(v.$dark);
      @include v.drop-shadow;
      background-color: v.$light;
      width: 100%;
      align-items: flex-start;
      border-radius: v.$spacing-medium;
      padding: v.$spacing-large;
      .grid-group {
        .flex-group-col {
          gap: v.$spacing-small;
        }
        width: 100%;
        grid-template-columns: 1fr;
        @include v.container-query(small) {
          grid-template-columns: 1fr 1fr;
        }
        :last-child {
          grid-column: 1 / -1;
        }
        label {
          span {
            color: #e00;
            margin-bottom: 0.5rem;
          }
        }
        input,
        textarea {
          width: 100%;
          @include v.border-style(v.$dark);
          padding: 0.5rem;
          border-radius: v.$border-radius-small;
          &[type="text"] {
            font-size: 1rem;
            @include v.body-style;
          }
        }
        textarea {
          height: 12rem;
          resize: vertical;
          min-height: 6rem;
          max-height: 20rem;
        }
      }
    }
  }
}
