// Styles for above the fold
@use "vars" as v;

@keyframes slideFadeIn {
  from {
    opacity: 0;
    transform: translateX(-5rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes type {
  0% {
    width: 0;
    height: auto;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 100%;
    height: auto;
    white-space: normal;
  }
}

@keyframes mobileType {
  0% {
    width: 0;
    height: auto;
  }
  50% {
    width: 90cqw;
  }
  100% {
    width: 90cqw;
    height: auto;
    white-space: wrap;
  }
}

@keyframes preloaderType {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background-color: v.$dark;
  z-index: 999;
  display: grid;
  align-items: center;
  justify-content: center;
  transition: transform 2s ease;
  p {
    color: #bbb;
    font-family: "Courier";
    font-size: 16px;
    margin: v.$spacing-xsmall 0 0 v.$spacing-xsmall;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    animation: preloaderType 2s steps(26), blink 0.5s step-end 10 alternate;
  }
}

/*-- -------------------------- -->
<---          Header            -->
<--- -------------------------- -*/

#header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  // ^ so the mobile menu stacks correctly
  container-type: inline-size;
  border: 1px solid v.$dark;
  background-color: v.$light;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: v.$spacing-medium v.$spacing-semi-medium;
  transition: v.$transition-default;

  &.scrolled {
    padding: v.$spacing-small v.$spacing-semi-medium;
    #nav-contact {
      padding: v.$spacing-small v.$spacing-medium;
    }
  }

  .container {
    width: 100%;
    container-type: normal;
  }

  .logo {
    width: 15rem;
    display: flex;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .nav-bar {
    width: 100%;
    @include v.flex-center;
    justify-content: space-between;

    .fries-btn {
      @include v.flex-center;
      cursor: pointer;
      background: none;
      border: none;
      flex-direction: column;
      width: 4rem;
      height: 4rem;
      gap: 8px;
      padding: v.$spacing-small;
      position: relative;
      z-index: 3;

      &:hover {
        :nth-child(1) {
          transform: translateX(0.5rem);
        }

        :nth-child(2) {
          width: 55%;
          transform: translateX(-0.5rem);
        }

        :nth-child(3) {
          transform: translateX(-0.25rem);
        }
      }

      .fries {
        display: block;
        width: 100%;
        height: 5px;
        background-color: v.$dark;
        border-radius: v.$border-radius-medium;
        transition: all 0.3s ease-in-out;
        z-index: 3;
        align-self: flex-end;
        pointer-events: none;
      }

      :nth-child(2) {
        width: 75%;
      }
    }

    #nav-menu {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      position: fixed;
      top: 0;
      right: 0;
      width: calc(45vw + 4rem);
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.8);
      backdrop-filter: blur(v.$spacing-small);
      list-style: none;
      font-size: v.$fs-m;
      font-weight: v.$bold-weight;
      text-align: right;
      padding: 90px 2rem 2rem;
      transform: translateX(100%);
      transition: transform 0.3s ease;
      pointer-events: none;
      z-index: 2;

      li {
        opacity: 0;

        a {
          display: block;
          width: 100%;
        }

        a:not(:hover) {
          color: v.$light;
        }
      }

      .nav-wrapper {
        display: flex;
        gap: v.$spacing-xsmall;
      }

      @for $i from 1 through 3 {
        .nav-wrapper:has([id$="-dropdown-toggle"]:checked)
          ~ [id$="-dropdown"]
          > li:nth-child(#{$i}) {
          transition-delay: 0 + ($i * 0.1s);
          transform: translateY(0);
          opacity: 1;
          pointer-events: auto;
        }
      }

      @for $i from 3 through 1 {
        [id$="-dropdown"] > li:nth-child(#{$i}) {
          transition: transform (0.4s - ($i * 0.1s)) ease,
            opacity (0.3s - ($i * 0.1s)) ease;
          pointer-events: none;
          transform: translateY(calc(-1.5em * $i));
        }
      }
    }

    #menu-toggle:checked ~ #nav-menu {
      transform: translateX(0);
      pointer-events: auto;

      @for $i from 1 through 5 {
        & > li:nth-child(#{$i}) {
          animation: slideFadeIn 0.3s forwards;
          animation-delay: 0.3s + ($i * 0.1s);
        }
      }
    }

    #menu-toggle:checked ~ .fries-btn {
      .fries {
        background-color: v.$light;
      }

      :nth-child(1) {
        transform: rotate(45deg) translateY(9px) translateX(9px);
      }

      :nth-child(2) {
        transform: translateX(-4rem);
        opacity: 0;
      }

      :nth-child(3) {
        transform: rotate(-45deg) translateY(-9px) translateX(9px);
      }
    }

    #nav-contact {
      display: none;
    }

    @include v.container-query(medium) {
      .fries-btn {
        display: none;
      }

      #nav-contact {
        display: block;
      }
      #mobile-nav-contact {
        display: none !important;
      }

      #nav-menu {
        @include v.flex-center;
        height: auto;
        flex-direction: row;
        gap: v.$spacing-large;
        flex: 1;
        position: relative;
        background-color: transparent;
        backdrop-filter: none;
        transition: none;
        transform: none;
        padding: 0;
        pointer-events: auto;
        color: v.$dark;

        & > li {
          opacity: 1;

          a:not(:hover) {
            color: v.$dark;
            transition: opacity 0s;
          }
        }

        [id$="-dropdown"],
        .dropdown-toggle {
          position: absolute;
        }
      }
    }
  }
}

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

// Mobile
#hero {
  background-color: v.$acc-yellow;

  .container {
    .flex-group-row {
      flex-direction: column;
      .title {
        font-size: v.$fs-xxl;
        @include v.container-query(medium) {
          font-size: v.$fs-xxxl;
        }
      }

      .terminal {
        flex: 0.8;
        width: 100%;
        max-width: 100cqw;
        background-color: v.$dark;
        border-radius: v.$border-radius-medium;
        @include v.drop-shadow;
        @include v.border-style(v.$dark);
        @include v.container-query(medium) {
          max-width: 40%;
        }
        .topbar {
          width: 100%;
          background-color: #616161;
          border-radius: v.$border-radius-medium v.$border-radius-medium 0 0;
          padding: v.$spacing-small;
          padding-bottom: 0;
          .task {
            display: flex;
            gap: v.$spacing-small;
            align-items: center;
            width: 55%;
            color: v.$light;
            background-color: v.$dark;
            border-radius: v.$border-radius-medium v.$border-radius-medium 0 0;
            padding: v.$spacing-xsmall 0 0 v.$spacing-xsmall;
            @include v.border-style(v.$dark);
            @include v.container-query(medium) {
              width: 35%;
            }
            p {
              font-size: 1rem;
            }
          }
        }
        .content {
          padding: 0 v.$spacing-semi-small;
          margin: v.$spacing-medium 0;
          border-radius: v.$border-radius-medium;
          overflow-y: scroll;
          overflow-x: hidden;
          height: 400px;
          scroll-behavior: smooth;
          p {
            width: 0;
            height: 0;
            color: #bbb;
            font-family: "Courier";
            font-size: 14px;
            margin: v.$spacing-xsmall 0 0 v.$spacing-xsmall;
            white-space: nowrap;
            overflow: hidden;
            animation: mobileType 2s steps(30) forwards;
            @include v.container-query(medium) {
              font-size: 16px;
              animation: type 2s steps(30) forwards;
            }
            .object {
              color: v.$light;
            }

            .keyword {
              color: #98d7e6;
            }

            .string {
              color: #f7da6b;
            }

            .method {
              color: #b6d883;
            }

            .variable {
              color: #a99ecd;
            }

            .parenthese {
              color: #e55e51;
            }
          }
          @for $i from 1 through 12 {
            p:nth-child(#{$i}) {
              animation-delay: #{$i * 1}s;
            }
          }
          p:nth-child(12) span {
            border-right: 3px solid;
            animation: blink 0.5s step-end infinite alternate;
          }
        }
      }
      .flex-group-row {
        flex-direction: row;
      }
      picture {
        flex: 0.8;
        display: none;
      }

      @include v.container-query(small) {
        flex-direction: row;
      }
    }
  }
}

/*-- -------------------------- -->
<---         What we do         -->
<--- -------------------------- -*/

#what-we-do {
  background-color: v.$acc-lightblue;

  .flex-group-row {
    flex-direction: column;
    & > p {
      flex: 1;
    }
    @include v.container-query(medium) {
      flex-direction: row;
    }
  }

  .tab-container {
    display: flex;
    flex-direction: column;
    gap: v.$spacing-medium;
    width: 100%;
    flex: 2;
    @include v.container-query(medium) {
      display: block;
    }

    .tabs {
      display: none;
      list-style: none;
      padding: 0;
      border-radius: 5px 5px 0 0;
      margin: 0;

      @include v.container-query(medium) {
        display: flex;
      }

      .tab-link {
        padding: v.$spacing-xsmall v.$spacing-small;
        border-radius: 1rem 1rem 0 0;
        cursor: pointer;
        color: v.$light;
        background-color: lighten(v.$brand-secondary, 20%);
        @include v.border-style(v.$dark);
        border-bottom: none;
        transition: v.$transition-default;
        &:hover {
          background-color: lighten(v.$brand-secondary, 10%);
        }
        &:focus-visible {
          @include v.focus-style(v.$dark);
        }
        &.active {
          background-color: v.$brand-secondary;
        }
        @include v.container-query(small) {
          padding: v.$spacing-small v.$spacing-medium;
        }
      }
    }

    .tab-content {
      display: block;
      padding: v.$spacing-semi-large;
      border-radius: v.$spacing-medium;
      @include v.border-style(v.$dark);
      transition: v.$transition-default;
      background-color: #fff;
      @include v.drop-shadow;
      @include v.container-query(medium) {
        display: none;
        border-radius: 0 v.$spacing-medium v.$spacing-medium;
      }

      .flex-group-row {
        justify-content: flex-start;
        gap: v.$spacing-medium;
        margin-bottom: v.$spacing-medium;
        flex-direction: column;
        @include v.container-query(medium) {
          flex-direction: row;
          text-align: center;
          justify-content: center;
        }
        @include v.container-query(large) {
          flex-direction: row;
          text-align: left;
          justify-content: flex-start;
        }

        .img-wrap {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #000;
          border-radius: 50%;
          width: 64px;
          height: 64px;
          flex-shrink: 0;
        }

        @include v.container-query(x-small) {
          .img-wrap {
            width: 80px;
            height: 80px;
          }
        }
      }
      &.active {
        display: block;
      }
    }
  }
}
