// Styles for above the fold
@use "vars" as v;

@keyframes slideFadeIn {
  from {
    opacity: 0;
    transform: translateX(-5rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*-- -------------------------- -->
<---          Header            -->
<--- -------------------------- -*/

#header {
  position: relative;
  z-index: 2;
  // ^ so the mobile menu stacks correctly
  container-type: inline-size;
  border: 1px solid v.$dark;
  background-color: v.$light;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: v.$spacing-medium v.$spacing-semi-medium;

  .container {
    width: 100%;
    container-type: normal;
  }

  .logo {
    width: 12rem;
    display: flex;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .nav-bar {
    width: 100%;
    @include v.flex-center;
    justify-content: space-between;

    .fries-btn {
      @include v.flex-center;
      cursor: pointer;
      background: none;
      border: none;
      flex-direction: column;
      width: 4rem;
      height: 4rem;
      gap: 8px;
      padding: v.$spacing-small;
      position: relative;
      z-index: 3;

      &:hover {
        :nth-child(1) {
          transform: translateX(0.5rem);
        }

        :nth-child(2) {
          width: 55%;
          transform: translateX(-0.5rem);
        }

        :nth-child(3) {
          transform: translateX(-0.25rem);
        }
      }

      .fries {
        display: block;
        width: 100%;
        height: 5px;
        background-color: v.$dark;
        border-radius: v.$border-radius-medium;
        transition: all 0.3s ease-in-out;
        z-index: 3;
        align-self: flex-end;
        pointer-events: none;
      }

      :nth-child(2) {
        width: 75%;
      }
    }

    #nav-menu {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      position: fixed;
      top: 0;
      right: 0;
      width: calc(45vw + 4rem);
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.8);
      backdrop-filter: blur(v.$spacing-small);
      list-style: none;
      font-size: v.$btn-nav-font-size;
      font-weight: v.$bold-weight;
      text-align: right;
      padding: 90px 2rem 2rem;
      transform: translateX(100%);
      transition: transform 0.3s ease;
      pointer-events: none;
      z-index: 2;

      li {
        opacity: 0;

        a {
          display: block;
          width: 100%;
        }

        a:not(:hover) {
          color: v.$light;
        }
      }

      .nav-wrapper {
        display: flex;
        gap: v.$spacing-xsmall;
      }

      @for $i from 1 through 3 {
        .nav-wrapper:has([id$="-dropdown-toggle"]:checked)
          ~ [id$="-dropdown"]
          > li:nth-child(#{$i}) {
          transition-delay: 0 + ($i * 0.1s);
          transform: translateY(0);
          opacity: 1;
          pointer-events: auto;
        }
      }

      @for $i from 3 through 1 {
        [id$="-dropdown"] > li:nth-child(#{$i}) {
          transition: transform (0.4s - ($i * 0.1s)) ease,
            opacity (0.3s - ($i * 0.1s)) ease;
          pointer-events: none;
          transform: translateY(calc(-1.5em * $i));
        }
      }
    }

    #menu-toggle:checked ~ #nav-menu {
      transform: translateX(0);
      pointer-events: auto;

      @for $i from 1 through 5 {
        & > li:nth-child(#{$i}) {
          animation: slideFadeIn 0.3s forwards;
          animation-delay: 0.3s + ($i * 0.1s);
        }
      }
    }

    #menu-toggle:checked ~ .fries-btn {
      .fries {
        background-color: v.$light;
      }

      :nth-child(1) {
        transform: rotate(45deg) translateY(9px) translateX(9px);
      }

      :nth-child(2) {
        transform: translateX(-4rem);
        opacity: 0;
      }

      :nth-child(3) {
        transform: rotate(-45deg) translateY(-9px) translateX(9px);
      }
    }

    #nav-contact {
      display: none;
    }

    @include v.container-query(medium) {
      .fries-btn {
        display: none;
      }

      #nav-contact {
        display: block;
      }
      #mobile-nav-contact {
        display: none !important;
      }

      #nav-menu {
        @include v.flex-center;
        height: auto;
        flex-direction: row;
        gap: v.$spacing-large;
        flex: 1;
        position: relative;
        background-color: transparent;
        backdrop-filter: none;
        transition: none;
        transform: none;
        padding: 0;
        pointer-events: auto;
        color: v.$dark;

        & > li {
          opacity: 1;

          a:not(:hover) {
            color: v.$dark;
            transition: opacity 0s;
          }
        }

        [id$="-dropdown"],
        .dropdown-toggle {
          position: absolute;
        }
      }
    }
  }
}

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

// Mobile
#hero {
  background-color: v.$acc-yellow;

  .container {
    .flex-group-row {
      flex-direction: column;

      a {
        font-size: v.$h4-font-size;
      }

      @include v.container-query(small) {
        flex-direction: row;
      }
    }
  }
}

/*-- -------------------------- -->
<---         What we do         -->
<--- -------------------------- -*/

#what-we-do {
  background-color: v.$acc-lightblue;

  .flex-group-row {
    flex-direction: column;
    & > p {
      flex: 1;
    }
    @include v.container-query(medium) {
      flex-direction: row;
    }
  }

  .tab-container {
    width: 100%;
    flex: 2;

    .tabs {
      list-style: none;
      padding: 0;
      display: flex;
      border-radius: 5px 5px 0 0;
      margin: 0;

      .tab-link {
        padding: 10px 20px;
        border-radius: 1rem 1rem 0 0;
        cursor: pointer;
        color: v.$light;
        background-color: lighten(v.$brand-secondary, 20%);
        @include v.border-style(v.$dark);
        border-bottom: none;
        transition: v.$transition-default;
        &:hover {
          background-color: lighten(v.$brand-secondary, 10%);
        }
        &:focus-visible {
          @include v.focus-style(v.$dark);
        }
        &.active {
          background-color: v.$brand-secondary;
        }
      }
    }

    .tab-content {
      padding: v.$spacing-semi-large;
      border-radius: 0 1rem 1rem 1rem;
      @include v.border-style(v.$dark);
      transition: v.$transition-default;
      display: none;

      .flex-group-row {
        justify-content: flex-start;
        gap: v.$spacing-medium;
        flex-direction: row;
        margin-bottom: v.$spacing-medium;
        @include v.container-query(medium) {
          flex-direction: column;
          text-align: center;
          justify-content: center;
        }
        @include v.container-query(large) {
          flex-direction: row;
          text-align: left;
          justify-content: flex-start;
        }

        .img-wrap {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #000;
          border-radius: 50%;
          width: 64px;
          height: 64px;
          flex-shrink: 0;
        }

        @include v.container-query(x-small) {
          .img-wrap {
            width: 80px;
            height: 80px;
          }
        }
      }
      &.active {
        background-color: #fff;
        display: block;
        @include v.drop-shadow;

        .img-wrap,
        h3,
        p {
          // animation: fadeIn 0.3s ease-in-out;
        }
      }
    }
  }
}
