// Styles for above the fold
@use 'vars.scss';

@keyframes slideFadeIn {

    from {
        opacity: 0;
        transform: translateX(-5rem);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*-- -------------------------- -->
<---          Header            -->
<--- -------------------------- -*/

#header {
    position: relative;
    z-index: 2;
    // ^ so the mobile menu stacks correctly
    container-type: inline-size;
    background-color: vars.$light;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: vars.$spacing-medium vars.$spacing-semi-medium;

    .container {
        width: 100%;
        container-type: normal;
    }

    .logo {
        width: 12rem;
        display: flex;
        z-index: 1;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .nav-bar {
        width: 100%;
        @include vars.flex-center;
        justify-content: space-between;

        .fries-btn {
            @include vars.flex-center;
            cursor: pointer;
            background: none;
            border: none;
            flex-direction: column;
            width: 4rem;
            height: 4rem;
            gap: 8px;
            padding: vars.$spacing-small;
            position: relative;
            z-index: 3;

            &:hover {
                :nth-child(1) {
                    transform: translateX(.5rem);
                }

                :nth-child(2) {
                    width: 55%;
                    transform: translateX(-.5rem);
                }

                :nth-child(3) {
                    transform: translateX(-.25rem);
                }
            }

            .fries {
                display: block;
                width: 100%;
                height: 5px;
                background-color: vars.$dark;
                border-radius: vars.$border-radius-medium;
                transition: all .3s ease-in-out;
                z-index: 3;
                align-self: flex-end;
            }

            :nth-child(2) {
                width: 75%;
            }
        }

        #nav-menu {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            position: fixed;
            top: 0;
            right: 0;
            width: calc(45vw + 4rem);
            height: 100vh;
            background-color: rgba(0, 0, 0, .8);
            backdrop-filter: blur(vars.$spacing-small);
            list-style: none;
            font-size: vars.$btn-nav-font-size;
            font-weight: vars.$bold-weight;
            text-align: right;
            padding: 90px 2rem 2rem;
            transform: translateX(100%);
            transition: transform .3s ease;
            pointer-events: none;
            z-index: 2;

            li {
                opacity: 0;

                a {
                    display: block;
                    width: 100%;
                }

                a:not(:hover) {
                    color: vars.$light;
                }
            }

            @for $i from 1 through 3 {
                [id$="-dropdown-toggle"]:checked~[id$="-dropdown"]>li:nth-child(#{$i}) {
                    transition-delay: 0 + ($i * .1s);
                    transform: translateY(0);
                    opacity: 1;
                    pointer-events: auto;
                }
            }

            @for $i from 3 through 1 {
                [id$="-dropdown"]>li:nth-child(#{$i}) {
                    transition: transform (.4s - ($i *.1s)) ease, opacity (.3s - ($i *.1s)) ease;
                    pointer-events: none;
                    transform: translateY(calc(-1.5em * $i));
                }
            }
        }

        #menu-toggle:checked~#nav-menu {
            transform: translateX(0);
            pointer-events: auto;

            @for $i from 1 through 4 {
                &>li:nth-child(#{$i}) {
                    animation: slideFadeIn 0.3s forwards;
                    animation-delay: 0.3s + ($i * .1s);
                }
            }
        }

        #menu-toggle:checked~.fries-btn {
            .fries {
                background-color: vars.$light;
            }

            :nth-child(1) {
                transform: rotate(45deg) translateY(9px) translateX(9px);
            }

            :nth-child(2) {
                transform: translateX(-4rem);
                opacity: 0;
            }

            :nth-child(3) {
                transform: rotate(-45deg) translateY(-9px) translateX(9px);
            }
        }

        #nav-contact {
            display: none;
        }

        @include vars.container-query(medium) {

            .fries-btn {
                display: none;
            }

            #nav-contact {
                display: block;
            }

            #nav-menu {
                @include vars.flex-center;
                height: auto;
                flex-direction: row;
                gap: vars.$spacing-large;
                flex: 1;
                position: relative;
                background-color: transparent;
                backdrop-filter: none;
                transition: none;
                transform: none;
                padding: 0;
                pointer-events: auto;
                color: vars.$dark;

                &>li {
                    opacity: 1;

                    a:not(:hover) {
                        color: vars.$dark;
                    }
                }

                [id$="-dropdown"],
                .dropdown-toggle {
                    position: absolute;
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

// Mobile
#hero {
    background-color: vars.$acc-yellow;

    .container {
        .flex-group-row {
            flex-direction: column;

            @include vars.container-query(small) {
                flex-direction: row;
            }
        }
    }
}

/*-- -------------------------- -->
<---         What we do         -->
<--- -------------------------- -*/

// Mobile
@include vars.mobile {
    #what-we-do {
        background-color: vars.$acc-lightblue;

        .flex-group-row {
            flex-direction: column;

            .card {
                display: flex;
                background-color: vars.$light;
                border-radius: vars.$border-radius-medium;
                @include vars.border-style(vars.$dark);
                padding: vars.$spacing-medium;
                align-self: stretch;
                gap: vars.$spacing-small;
                flex-direction: column;
                flex: 1;

                .flex-group-row {
                    justify-content: flex-start;
                    gap: vars.$spacing-medium;
                    flex-direction: row;
                }

                .img-wrap {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #000;
                    border-radius: 50%;
                    width: 64px;
                    height: 64px;
                    flex-shrink: 0;
                }

                @include vars.container-query(vsmall) {
                    .img-wrap {
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
    }
}

@include vars.tablet {
    #what-we-do {
        .flex-group-row {
            flex-direction: row;

            .card {
                .flex-group-row {
                    flex-wrap: wrap;
                    text-align: center;
                    justify-content: center;
                }
            }
        }
    }
}