/*-- -------------------------- -->
<---       Landing Page         -->
<--- -------------------------- -*/
// Landing styles
@use "vars" as v;

#portfolio {
  background-color: v.$acc-cream;

  .item {
    background-color: v.$acc-lightblue;
    border-radius: v.$border-radius-medium;
    @include v.border-style(v.$dark);
    align-items: stretch;
    gap: 0;
    overflow: hidden;
    flex-direction: column;

    &:has(picture ~ .text) {
      flex-direction: column-reverse;
    }

    .text {
      border-bottom: v.$border-dark;
    }

    @include v.container-query(small) {
      max-height: 36rem;
    }

    @include v.container-query(medium) {
      flex-direction: row;
      max-height: 24rem;

      &:has(picture ~ .text) {
        flex-direction: row;
      }

      .text {
        padding: 2rem;
        border-bottom: none;
      }

      .text ~ picture {
        border-left: v.$border-dark;
      }

      picture ~ .text {
        border-left: v.$border-dark;
      }
    }

    picture {
      flex: 1.75;
      overflow: hidden;
      align-self: flex-start;

      img {
        border-radius: 0;
      }
    }

    .text {
      @include v.flex-group-col;
      flex: 1;
      align-items: flex-start;
      justify-content: center;
      padding: 2rem;
      gap: 0.5rem;

      .topper {
        font-size: 0.875rem;
        color: #545454;
      }
    }
  }
}

#pricing {
  background-color: v.$acc-pink;

  .container {
    flex-direction: column;

    .accordion {
      width: 100%;
      list-style: none;
      display: flex;
      gap: 1rem;
      flex-direction: column;

      li {
        border-radius: v.$border-radius-medium;
        @include v.border-style(v.$dark);
        overflow: hidden;
        transition: v.$transition-default;
        &:has(button.active),
        &:has(button:hover) {
          @include v.drop-shadow;
        }
        &:has(button:focus-visible) {
          @include v.focus-style(#04d9ff);
        }
      }

      button {
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 100%;
        background-color: transparent;
        border: none;
        padding: v.$spacing-medium v.$spacing-small;
        transition: background-color 0.3s ease;
        border-radius: v.$border-radius-small;
        text-align: left;

        &.active {
          border-bottom: v.$border-dark;
          background-color: lighten(v.$acc-pink, 10%);
        }
        &:hover {
          background-color: lighten(v.$acc-pink, 20%);
        }

        &.active svg {
          transform: rotate(90deg);
        }
      }

      svg {
        margin-right: 0.5rem;
        transition: v.$transition-default;
      }

      p {
        max-height: 0;
        overflow: hidden;
        margin: 0;
        padding: 0 v.$spacing-medium;
        transition: max-height 0.3s ease-out, padding 0.3s ease-out;

        &.expanded {
          padding: v.$spacing-medium;
        }
      }
    }

    .flex-group-col {
      max-width: clamp(36rem, 30vw, 40rem);
      align-self: flex-start;
      align-items: flex-start;

      .title {
        font-size: v.$spicy-font-size;
      }
    }
  }
}
