/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
@use "vars" as v;

#services {
  background-color: v.$acc-lightblue;
  .flex-text {
    align-items: flex-start;
  }
}

#web-design {
  background-color: v.$acc-pink;
}

#web-dev {
  background-color: v.$acc-purple;
  @include v.container-query(medium) {
    .flex-group-row {
      flex-direction: row-reverse;
    }
  }
}

#branding {
  background-color: v.$acc-yellow;
}

#services,
#web-design,
#web-dev,
#branding {
  .flex-group-row {
    align-items: flex-start;
    .flex-group-col {
      gap: v.$spacing-small;
      align-items: flex-start;
      flex: 2;
      .flex-text {
        align-items: flex-start;
      }
    }
  }
  img {
    @include v.border-style(v.$dark);
    flex: 1;
  }
  @include v.container-query(medium) {
    flex-direction: row;
    align-items: flex-start;
  }
}
